.logout {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.logout .logout-text {
  color: #1d1652 !important;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
