.forgot-username {
  align-items: center;
  border-color: #a0a0a0;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 42px;
  justify-content: center;
  position: relative;
  width: 252px;
  cursor: pointer;
}

.forgot-username .div {
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 10px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  color: #a0a0a0;
  transition: color 0.3s ease;
}

.forgot-username:hover .div {
  color: #1d1652;
}
