.property-default-wrapper {
  height: 23px;
  position: relative;
  width: 94px;
}

.property-default-wrapper .text-wrapper {
  color: #ffffff;
  font-family: "GmarketSans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 23px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
}
