.property-frame-wrapper {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 30px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 111px;
}

.property-frame-wrapper .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: -10.00px;
  margin-right: -10.00px;
  position: relative;
  text-align: center;
  width: 111px;
}

.property-frame-wrapper.frame-118 {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #1d1652;
}

.property-frame-wrapper.frame-118 .text-wrapper-5 {
  margin-bottom: -8.00px;
  margin-top: -12.00px;
}

.property-frame-wrapper.frame-117 .text-wrapper-5 {
  margin-bottom: -9.00px;
  margin-top: -11.00px;
}
