.selectmode-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.selectmode-content {
  background-color: #fafdff;
  border: 1px solid #1d1652;
  border-radius: 16px;
  width: 410px;
  height: 200px;
  position: relative;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  /* 추가: 완전히 중앙 정렬 보장 */
  margin: auto;
}

.selectmode-close {
  position: absolute;
  top: 12px;
  right: 16px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #888;
  cursor: pointer;
}

.selectmode-close:hover {
  color: #000;
}

.selectmode-role-text {
  color: #000;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 2rem;
  text-align: center;
}

.selectmode-bold {
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
}

.selectmode-role-text .span {
  font-weight: 600;
}

.selectmode-button-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 310px;
}