.hamburger-screen {
  align-items: flex-start;
  background-color: #fafdff;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 944px;
  padding: 50px 40px;
  position: relative;
}

.hamburger-component-instance {
  flex: 0 0 auto !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  font-weight: 400;
}
.hamburger-component-instance:hover {
  color: #1d1652;
  transform: scale(1.05);
  font-weight: 700;
}

.hamburger-screen .logout-component .text-wrapper {
  color: rgba(29, 22, 82, 0.7) !important;
}
