.component-3 {
  border-color: #1d1652;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  height: 52px;
  position: relative;
  width: 137px;
}

.component-3 .text-wrapper-2 {
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 14px;
  left: 35px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
}

.component-3.property-1-2-hover {
  background-color: #ffffff;
}

.component-3.property-1-2-default {
  background-color: #1d1652;
}

.component-3.property-1-2-hover .text-wrapper-2 {
  color: #1d1652;
}

.component-3.property-1-2-default .text-wrapper-2 {
  color: #ffffff;
}
