.filtercomponent-btn {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 20px;
  border: 2px solid #a3b3bf;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s;
  min-width: 90px;
}

.filtercomponent-text {
  color: #a3b3bf;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  transition: color 0.3s ease;
}

.filtercomponent-icon {
  height: 17.88px;
  width: 17.5px;
  stroke: #a3b3bf;
  transition: stroke 0.3s ease;
}

.filtercomponent-btn.active {
  border-color: #1d1652;
}

.filtercomponent-btn.active .filtercomponent-text {
  color: #1d1652;
}

.filtercomponent-btn.active .filtercomponent-icon {
  stroke: #1d1652;
}
