.seeroadmap-button {
  width: 150px;
  height: 50px;
  position: relative;
  cursor: pointer;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.seeroadmap-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  position: relative;
}

.seeroadmap-text {
  color: #1d1652;
  font-family: "GmarketSans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
  white-space: nowrap;
  text-align: center;
  position: relative;
}

/* 밑줄 애니메이션 */
.seeroadmap-button.default .seeroadmap-text::after,
.seeroadmap-button.selected .seeroadmap-text::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: -8px;
  width: 0%;
  height: 2px;
  background-color: #1d1652;
  transition: width 0.3s ease-in-out;
}

.seeroadmap-button.selected .seeroadmap-text::after {
  width: calc(100% + 16px);
}
