.recommendcomponent {
  position: relative;
  width: 137px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

/* 전체 너비 밑줄 애니메이션 */
.recommendcomponent::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #1d1652;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.recommendcomponent.recommendcomponent-hover::after {
  transform: scaleX(1);
}

.recommendcomponent-text {
  font-family: "Inter", Helvetica;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
  font-weight: 400;
  color: #a0a0a0;
  transition: all 0.25s ease-in-out;
}

.recommendcomponent.recommendcomponent-hover .recommendcomponent-text {
  color: #1d1652;
  font-weight: 600;
}

.recommendcomponent.recommendcomponent-default .recommendcomponent-text {
  color: #a0a0a0;
  font-weight: 400;
}
