.generate-README {
  height: 50px;
  width: 150px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generate-README .frame {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  position: relative;
}

.generate-README .text-wrapper {
  color: #1d1652;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 14px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.generate-README.default .text-wrapper::after,
.generate-README.selected .text-wrapper::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: -8px;
  width: 0%;
  height: 2px;
  background-color: #1d1652;
  transition: width 0.3s ease-in-out;
}

.generate-README.selected .text-wrapper::after {
  width: calc(100% + 16px);
}
