.allcomponent {
  position: relative;
  width: 137px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.allcomponent::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #1d1652;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.allcomponent.allcomponent-hover::after {
  transform: scaleX(1);
}

.allcomponent .allcomponent-text {
  font-family: "GmarketSans", sans-serif;
  font-size: 20px;
  white-space: nowrap;
  font-weight: 400;
  color: #a0a0a0;
  position: relative;
  transition: all 0.25s ease-in-out;
}

.allcomponent.allcomponent-hover .allcomponent-text {
  color: #1d1652;
  font-weight: 600;
}

.allcomponent:hover .allcomponent-text {
  color: #1d1652;
  font-weight: 600;
}
