.forgot-password {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 40px;
  justify-content: center;
  position: relative;
  width: 250px;
  cursor: pointer;
}

.forgot-password .text-wrapper-2 {
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 10px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  color: #a0a0a0;
  transition: color 0.3s ease;
}

.forgot-password:hover .text-wrapper-2 {
  color: #1d1652;
}
