.component-7 {
  align-items: center;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.component-7 .text-wrapper-6 {
  color: #000000;
  font-family: "GmarketSans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  text-align: center;
}

.component-7.property-1-8-hover {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #1d1652;
  display: inline-flex;
}

.component-7.property-1-8-default {
  display: flex;
  width: 111px;
}

.component-7.property-1-8-hover .text-wrapper-6 {
  margin-top: -2.00px;
  width: 111px;
}

.component-7.property-1-8-default .text-wrapper-6 {
  flex: 1;
  margin-top: -1.00px;
}
