@font-face {
  font-family: 'GmarketSans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


html {
  scrollbar-gutter: stable;
}

body {
  background-color: #f9fcff;
  overflow-y: scroll;
}