.sign-up-screen {
  background-color: #fafdff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  transform: scale(0.80); /* 뷰 크기 축소 */
  transform-origin: top center; /* 축소 기준점을 상단 중앙으로 */
}

.sign-up-screen .sign-up-2 {
  background-color: #fafdff;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.sign-up-screen .frame {
  height: 806px;
  left: 345px;
  position: absolute;
  top: 123px;
  width: 750px;
}

.sign-up-screen .password {
  align-items: center;
  border: 1px solid;
  border-color: #1d1652;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  height: 62px;
  left: -1px;
  padding: 10px 20px;
  position: absolute;
  top: 17px;
  width: 752px;
}

.sign-up-screen .user-user {
  height: 25px !important;
  position: relative !important;
  width: 25px !important;
}

.sign-up-screen .text-wrapper-17 {
  color: #d9d9d9;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 10px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.sign-up-screen .id {
  align-items: center;
  border: 1px solid;
  border-color: #1d1652;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  height: 62px;
  left: -1px;
  padding: 10px 20px;
  position: absolute;
  top: 112px;
  width: 752px;
}

.sign-up-screen .user-user-card-ID {
  height: 35px !important;
  position: relative !important;
  width: 35px !important;
}

.sign-up-screen .text-wrapper-18 {
  color: #d9d9d9;
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 10px;
  position: relative;
}

.sign-up-screen .frame-2 {
  align-items: center;
  border: 1px solid;
  border-color: #a0a0a0;
  border-radius: 10px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 13px 10px;
  position: relative;
}

.sign-up-screen .text-wrapper-19 {
  color: #a0a0a0;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 10px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.sign-up-screen .text-wrapper-20 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 187px;
  white-space: nowrap;
}

.sign-up-screen .password-2 {
  align-items: center;
  border: 1px solid;
  border-color: #1d1652;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  height: 62px;
  left: -1px;
  padding: 10px 20px;
  position: absolute;
  top: 217px;
  width: 752px;
}

.sign-up-screen .icon-instance-node {
  height: 24px !important;
  width: 24px !important;
  position: absolute;
  margin-left: 1px;
}

.sign-up-screen .text-wrapper-21 {
  /* align-self: stretch;
  color: #d9d9d9;
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 10px;
  margin-top: -0.50px;
  position: relative; */
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 68px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 188px;
  white-space: nowrap;
}

.sign-up-screen .text-wrapper-22 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 68px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 292px;
  white-space: nowrap;
}

.sign-up-screen .password-3 {
  align-items: center;
  border: 1px solid;
  border-color: #1d1652;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  height: 62px;
  left: -1px;
  padding: 10px 20px;
  position: absolute;
  top: 322px;
  width: 752px;
}

.sign-up-screen .text-wrapper-23 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 68px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 397px;
  white-space: nowrap;
}

.sign-up-screen .password-4 {
  align-items: center;
  border: 1px solid;
  border-color: #1d1652;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  height: 62px;
  left: -1px;
  padding: 19px 20px;
  position: absolute;
  top: 427px;
  width: 752px;
}

.sign-up-screen .lock-light-instance {
  left: unset !important;
  margin-bottom: -2.00px !important;
  margin-top: -4.00px !important;
  position: relative !important;
  top: unset !important;
}

.sign-up-screen .text-wrapper-24 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 68px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 502px;
  white-space: nowrap;
}

.sign-up-screen .password-5 {
  align-items: center;
  border: 1px solid;
  border-color: #1d1652;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  height: 62px;
  left: -1px;
  padding: 19px 20px;
  position: absolute;
  top: 532px;
  width: 752px;
}

.sign-up-screen .lock-light-1 {
  height: 30px !important;
  margin-bottom: -2.00px !important;
  margin-top: -4.00px !important;
  position: relative;
  width: 30px !important;
}

.password-4 .text-input {
  padding-left: -1px;
}

.sign-up-screen .text-wrapper-25 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 68px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 607px;
  white-space: nowrap;
}

.sign-up-screen .password-6 {
  align-items: center;
  border: 1px solid;
  border-color: #1d1652;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  height: 62px;
  left: -1px;
  padding: 18px 20px;
  position: absolute;
  top: 637px;
  width: 752px;
}

.sign-up-screen .interface-link {
  height: 30px !important;
  margin-bottom: -1.00px !important;
  margin-top: -3.00px !important;
  position: relative !important;
  width: 30px !important;
}

.sign-up-screen .login-button {
  all: unset;
  align-items: center;
  background-color: #1d1652;
  border: 1px solid;
  border-color: #000000;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 62px;
  justify-content: center;
  left: -1px;
  padding: 10px 43px;
  position: absolute;
  top: 757px;
  width: 752px;
}

.sign-up-screen .LOGIN {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.00px;
  line-height: 10px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.sign-up-screen .rectangle {
  border: 2px solid;
  border-color: #0011ff;
  height: 238px;
  left: 1117px;
  position: absolute;
  top: 368px;
  width: 203px;
}

.sign-up-screen .component-18 {
  height: 34px !important;
  left: 30px !important;
  position: absolute !important;
  top: 23px !important;
  width: 24px !important;
}

.sign-up-screen .p {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 1211px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 383px;
}

.sign-up-screen .alog-logo {
  height: 80px;
  left: 620px;
  object-fit: cover;
  position: absolute;
  top: 37px;
  width: 200px;
}

.text-input {
  border: none;
  background: transparent;
  padding: 8px 0;
  width: 100%;
  font-size: 14px;
  color: #333;
}

.frame-2.active {
  background-color: #1d1652;
  cursor: pointer;
  border-color: #1d1652;
}

.frame-2.active .text-wrapper-19 {
  color: white;
}

.frame-2.active:hover {
  background-color: #1d1652;
  transform: scale(1.02);
}

.text-input::placeholder {
  font-size: 15px;
  color: #333;     
}
